.course-1-item {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1); }
    .course-1-item figure {
      position: relative; }
    .course-1-item .category {
      background: #51be78;
      padding: 20px; }
      .course-1-item .category h3 {
        color: #fff;
        font-size: 20px;
        margin-bottom: 0; }
    .course-1-item .price {
      position: absolute;
      bottom: 0;
      right: 0;
      -webkit-transform: translatey(-100%);
      -ms-transform: translatey(-100%);
      transform: translatey(-100%);
      padding: 10px 20px;
      background: #183661;
      color: #fff; }
    .course-1-item .course-1-content {
      padding: 20px 40px;
      text-align: center; }
      .course-1-item .course-1-content h2 {
        margin: 0 0 30px 0;
        font-size: 18px;
        color: #000; }
      .course-1-item .course-1-content .rating {
        text-align: center; }
        .course-1-item .course-1-content .rating > span {
          display: inline-block;
          margin: 2px; }
      .course-1-item .course-1-content .desc {
        font-size: 15px; }
        .section-bg {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 4rem 0; }
            .section-bg.style-1 {
              position: relative; }
              .section-bg.style-1:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #183661;
                opacity: .9;
                z-index: 0; }
              .section-bg.style-1 > .container {
                z-index: 2; }
              .section-bg.style-1 .icon {
                font-size: 3.5rem;
                color: #51be78; }
              .section-bg.style-1 h3 {
                font-size: 20px;
                color: #51be78;
                margin-bottom: 30px; }
              .section-bg.style-1 p {
                color: #7697c6; }
                .site-footer {
                    padding: 4em 0; }
                    @media (min-width: 768px) {
                      .site-footer {
                        padding: 8em 0; } }
                    .site-footer p {
                      color: #737373; }
                    .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
                      color: #fff; }
                    .site-footer a {
                      color: #999999; }
                      .site-footer a:hover {
                        color: black; }
                    .site-footer ul li {
                      margin-bottom: 10px; }
                    .site-footer .footer-heading {
                      font-size: 16px;
                      color: #fff;
                      text-transform: uppercase;
                      font-weight: 900; }          